<div class="container">
    <div class="info">
        <h1>Ingresar</h1><span>VOS <i class="fa fa-heart"></i></span>
    </div>
</div>
<form method="post" action="/ingresando">
  <div class="form">
      <div class="thumbnail"><img src="img/download.png"/></div>
      <form class="login-form">
          <input type="text" class="form-control" name="username" placeholder="Nombre de usuario"/>
          <input type="password" class="form-control" name="password" placeholder="Contraseña"/>
          <button>Ingresar</button>
          <p class="message">¿No te has registrado? <a href="/registro">Crea una cuenta</a></p>
      </form>
  </div>
</form>
