<div class="container">
    <div class="info">
        <h1>Registrarse</h1><span>VOS <i class="fa fa-heart"></i></span>
    </div>
</div>
{{#if errors}}
  {{#each errors}}
      <div class="alert alert-danger">{{msg}}</div>
  {{/each}}
{{/if}}
<form method="post" action="/registrando">
  <div class="form">
      <form class="login-form">
          <input type="text" class="form-control" name="username" placeholder="Nombre de usuario"/>
          <input type="text" class="form-control" name="name" placeholder="Nombre"/>
          <input type="text" class="form-control" name="lastname" placeholder="Apellido"/>
          <input type="password" class="form-control" name="password" placeholder="Contraseña"/>
          <input type="password" class="form-control" name="confirmPassword" placeholder="Repetir contraseña"/>
          <input type="text" class="form-control" name="email" placeholder="Correo electronico"/>
          <input type="text" class="form-control" name="phone" placeholder="Celular"/>
          <input type="text" class="form-control" name="city" placeholder="Ciudad"/>
          <input type="text" class="form-control" name="country" placeholder="Pais"/>
          <button>Registrarse</button>
          <p class="message">¿Ya tienes unas cuenta? <a href="/ingresar">Ingresa</a></p>

      </form>
  </div>
</form>

