<body>

<div class="container">
    <div class="info">
        <h1>Publicar video</h1>
    </div>
</div>
<form method="post" action="publicando" enctype="multipart/form-data">
    <div class="form">
        <input type="text" name="author" placeholder="Nombre de usuario"/>
        <input type="file" name="video"/>
        <label> <input type="checkbox" name="privateFile"/> Privado </label>
        <button>Subir</button>
    </div>
</form>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<script src="js/index.js"></script>-->

</body>
